.btn {
    font-family: 'General Sans', sans-serif;
    border-radius: 18px;
    outline: none;
    border: none;
    cursor: pointer;
    box-shadow: 0 2px 6px rgba(124, 123, 123, 0.2);
    
}

.btn--primary {
    background-color: #628B21;
    color: white;
}

.btn--outline {
    background-color: var(--body-color);
    color: var(--banner-color);
    border: 2px solid white;
    transition: all 0.3s ease-out;
}

.btn--medium {
    padding: 4px 20px;
    font-size: 14px;
    font-weight: 600;
}

.btn--large {
    padding: 8px 24px;
    font-size: 16px;
    font-weight: 600;
}

.btn--primary:hover {
    opacity: 0.8;
}

.btn--outline:hover {
    opacity: .8;
    transition: all 0.3s ease-out;
}
